*{
    box-sizing: border-box;
    font-family: Arial;
}
.navigation{
    background-color: black;
    position: sticky;
    width: 100%;
    height: 60px;
    margin: -8px;
    top: 0;
    z-index: 2;
}
.headbar-icons{
    padding:20px 30px;
    display: block;
    float: left;
    text-align: center;

}
.headbar-icons:hover{
    background-color: green;
}

.article{
    display: flex;
    margin: 100px auto;
    border: 2px solid gray;
    width: 60%;
}
.article-content{
    margin-left: 20px;
}
.article-content p{
    display: block;
    margin: 1em;
}

.shopping{
    display: flex;
    margin: auto;
    width: 80%;
    height: 700px;
    margin-bottom: 5rem;
}
.billing{
    margin: 18px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    flex: 3;
}
.address{
    margin:0 22px;
    flex-basis: 44%;
    height: 85%;
}
.shopping label{
    display: block;
    margin: 12px;
}
.shopping input[type="text"]{
    width: 100%;
    margin-bottom: 22px;
    padding: 12px;
    border-radius: 5px;
    height: 2.5rem;
}
.state-zip{
    display: flex;
    justify-content: space-between;
}

.payment{
    flex-basis: 44%;
    height: 85%;
    margin: 0 22px;
}
.icons{
    margin-bottom: 22px;
    padding: 7px;
    font-size: 34px;
}
.year-cvv{
    display: flex;
    justify-content: space-between;
}
.submit{
    flex-basis: 100%;
}
.checkout{
    width: 99%;
    background-color: gray;
    margin: 15px 0;
    border-radius: 5px;
    padding: 15px 32px;
    color: white;
    font-size: 18px;
}
.checkout:hover{
    background-color: green;
}

.cart{
    margin: 18px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    display: flex;
    background-color: whitesmoke;
    flex-flow: column nowrap;
    flex: 1;
    height: 45%;
}
.item{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.price{
    color:gray
}
hr{
    width: 85%;
    border: 1px solid lightgray;
}

.timeline{
    display: flex;
    width: 80%;
    margin: auto;
    flex-flow: row wrap;
    justify-content: space-around;

}
.box{
    display: flex;
    position: relative;
    width: 49%;
    height: 350px;
    background-color: rgb(91, 75, 180);
}
.box-content{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    position: relative;
    top: 30px;
}
.left .box-content{
    left: 15%;
}
.right .box-content{
    left: 5%;
}
.box-content h1{
    display: block;
    font-size: 3rem;
    margin-left: 25px;
}
.box-content p{
    padding:0 25px;
    font-size: 20px;
}
.left i, .right i{
    color: orange;
    font-size: 34px;
    position: absolute;
    top: 44px;
    z-index: 1;
}
.left i {
    right: -3.5%;
}
.right i {
    left: -3.5%;
}
